.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/
.env
.DS_Store
Thumbs.db

data/raw/*
!data/raw/.gitkeep
!data/raw/README.md
!data/raw/prices/
data/raw/prices/*
!data/raw/prices/.gitkeep
data/processed/*
!data/processed/.gitkeep
reports/figures/*
!reports/figures/.gitkeep

